<%- include('header') -%>

<div class="search s-index">
    Enter a SteamID64, Custom URL or Steam Profile URL.<br>
    <form><input type="text" placeholder="SteamID64/Custom URL/Full Profile URL"></form>

    <span class="error">
        Error: <%= error %>
    </span>
</div>

<%- include('footer') -%>