body{
    font-family: 'Roboto Slab', serif;
    background:url('http://cdn.akamai.steamstatic.com/steam/apps/730/page_bg_generated_v6b.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    color:#fff;
}

/*header*/

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background:#212A37;
    color: #fff;
}

header div{
    height: 100px;
    width: 100%;
    max-width:1000px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    margin: 0 auto;
}

.logo{
    margin-left:20px;
    display:flex;
    align-items:center;
    font-family: 'Patua One', cursive;
}

.logo img{
    margin-right:20px;
    width:75px;
}

.logo span{
    font-size: 1.5em;
}

.nav{
    display: flex;
}

.menuitem{
    width: auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    transition: .35s;
    cursor: pointer;
}

.menuitem:hover{
    background:#1B2D45;
}

/*footer*/

footer{
    height:calc(50px - 40px);
    width:calc(100% - 40px);
    max-width:calc(1000px - 40px);
    background:#181b1d;
    margin:0 auto;
    padding:20px;
    font-size:12px;
}

footer iframe{
    float:right;
    margin-top:-9px;
}

/*wrapper*/
.wrap{
    width:100%;
    max-width:1000px;
    height:auto;
    min-height: calc(100vh - 150px);
    background:#23272A;
    margin:0 auto;
}

.search{
    width:100%;
    background:rgba(0,0,0,0.3);
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;
}

.search input{
    width:calc(55% - 20px);
    height:40px;
    padding-left:10px;padding-right:10px;
    margin:0 auto;
}

.profile{
    height:calc(130px - 50px);
    width:calc(100% - 50px);
    background:rgba(0,0,0,0.5);
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:25px;
}

.avatar{
    height:95px;
    border-radius:50%;
    margin-right:15px;
}

.name{
    font-size:20px;
}

.time{
    min-width: 61px;
}

.mvp{
    min-width: 31px;
}

.hs{
    min-width: 40px;
}

.kills{
    min-width: 28px;
}

.deaths{
    width: 36px;
}

.realname{
    font-size:12px;
    margin-top: -1px;
    color:rgba(255,255,255,0.65);
}

.country{
    font-size:12px;
    margin-top: -10px;
    display:flex;
    align-items:center;
    color:rgba(255,255,255,0.85);
}

.country img{
    height:13px;
    margin-right:2.4px;
    float: left;
}

.status{
    font-size:18px;
    margin-bottom: -16px;
}

.steamlink{
    font-size:12px;
}

.stats{
    width:calc(100% - 100px);
    min-height:calc(185px - 80px);
    background:rgba(0,0,0,0.75);
    padding: 40px 50px;
    display:flex;
    align-items:center;
}

.kd{
    font-size: 59px;
    margin-right:25px;
}

.item img{
    height: 35px;
    float:left;
    margin-right:10px;
}

.number{
    float:left;
    font-size: 20px;
}

.att{
    font-size:11px;
    color: #66c0f4;
}

.margin{
    margin-bottom:15px;
}

.group{
    margin-left:20px;
}

.group:first-of-type{
    margin-left:0;
}

.planted{
    min-width: 78px;
}

.defused{
    min-width: 79px;
}

.matches{
    min-width: 94px;
}

.extra{
    width:calc(100% - 100px);
    height: calc(439px - 71px);
    padding:40px 50px;
    background:rgba(0,0,0,0.5);
}

.guns, .maps, .bans{
    float:left;
    margin-right:45px;
}

.m{
    font-size:20px;
    margin-bottom:-10px;
}

.map, .gun{
    font-size:15px;
}

.list{
    position:relative;float:left;overflow-y:scroll;height:340px;
}

/*mobile-specific styling*/
.mob_stats{
    width:calc(100% - 40px);
    height:auto;
    background:rgba(0,0,0,0.75);
    color:#fff;
    padding:20px;
    text-align:center;
    display:none;
}

.mob_kd{
    width:100%;
}

.mob_kd_c{
    font-size:35px;
}

.mob_group{
    display:inline-flex;
    margin-bottom: 15px;
}

.mob_group:last-of-type{
    margin-bottom:0;
}

.mob_group img{
    width:35px;
    margin-right:10px;
}

.mob_item{
    margin-right:20px;
}

.mob_item div{
    font-size:20px;
    text-align: left;
}

.mob_item span{
    color: #66c0f4;
    font-size:12px;
}

form{
    width: 100%;
    display: flex;
    padding-top: 15px;
}

/*responsive*/
@media only screen and (max-width: 1000px) {
    .nav{
        display:none;
    }
    
    .search input{
        width:85%;
    }

    .wrap{
        overflow: hidden;
    }

    .mobile{
        overflow-x: scroll;
    }

    .mob_stats{
        display:block;
    }

    .stats{
        display:none;
    }    
    
    .extra{
        min-height: 910px;
    }

    .maps, .bans{
        margin-top: 20px;
    }
}